<section id="projects">
<div class="container">
  <h3>About</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
            <p>I'm currently a Technical Program Manager (TPM) at Facebook working on location related products.  I live in Brooklyn with my wife and son.</p>
            <p>Throughout my career I’ve been a software engineer, a technical product manager and an engineering manager.  I enjoy building innovative products and systems, and being apart of great teams.</p>
            <p>During undergrad I studied mathematics and liberal arts at Binghamton University.  When I find time, I try to revisit and go deeper into these subjects.  This blog is an attempt to chronicle some of my varied interests.</p>
		</h5>
    </div>
  </div>
</div>
</section>
